In [ ]:
print("halo")

halo

In [ ]:
123

123

ini text bukan code

Bahasa pemrograman dibuat supaya bisa menyelesaikan masalah dunia nyata

tapi, komputer, coding, tidak bisa diajak bicara seperti manusia

yang dimengerti oleh code hanyalah data

tujuan coding hanya data input > proses > data output

input menjadi output

dan input yang dimengerti hanya jenis jenis data tertentu. misalnya:
- angka numerik, INTEGER 1 2 3
- angkanya ada desimal, FLOAT 1.0 2.3 3.1012345
- text, STRING, semua yang dikutip "campuran TExt yang bisa 123 angka juga simbol!! juga"
- BOOLEAN, konsep True atau False. ya atau tidak. apakah sesuatu dianggap benar atau salah.

komputer dan programming sangat kaku, semua data akan diklasifikasi menjadi True atau False, sampai sampai True dan False adalah tipe data ternsendiri.

In [ ]:
# Integer - angka bulat
0
-1
1
-2387569238475692348756
92837469128374691287346

# semua angka bulat termasuk tipe integer

92837469128374691287346

In [ ]:
# untuk cek tipe data, kita bisa gunakan keyword type

In [ ]:
type(473)

int

In [ ]:
# keyword print bisa kita gunakan untuk mencetak data
print(473)

473

In [ ]:
# bisa kita gabung, minta print tipe data angka 473
print(type(473))

<class 'int'>

semua tipe data adalah sebuah class.

di kelas programming untuk bikin aplikasi, kalian akan mempelajari cara buat class sendiri. cata modifikasi class. cara membuat struktur data custom. di kelas data science, kita tidak buat class sendiri, kita pakai yang sudah ada saja.

In [ ]:
# float
print(type(0.0))
print(type(0.1))
print(type(0.32485832793489837492348))

<class 'float'>
<class 'float'>
<class 'float'>

kita bisa konversi tipe data dengan menggunakan nama class nya

In [ ]:
float(5)

5.0

In [ ]:
print(type(float(5)))

<class 'float'>

In [ ]:
int(17.1945)

17

In [ ]:
int(17.9)

17

tipe data numerik bisa di konversi satu sama lain. int ke float, float ke int, tidak masalah.

untuk tipe data non-numerik, STRING misalnya, tidak bisa di konversi ke angka. akan error. KECUALI, isi stringnya adalah angka yang valid. misalnya

In [ ]:
# STRING
type("5")

str

In [ ]:
print(type("5"))

<class 'str'>

In [ ]:
print(type("Selamat datang di kelas Hacktiv8 - Python for Data Science~"))

<class 'str'>

In [ ]:
int("5")

5

In [ ]:
float("5")

5.0

In [ ]:
float("5.0")

5.0

In [ ]:
# BOOLEAN
print(True)
print(False)

True
False

In [ ]:

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

semua data bisa di konversi ke tipe boolean

In [ ]:
bool(5)

True

In [ ]:
bool(10.10)

True

In [ ]:
bool("haha")

True

hanya data "kosong" dianggap false:
- 0
- 0.0
- ""
- []
- ()
- {}

In [ ]:
print(bool(0))
print(bool(-0))
print(bool(0.0))
print(bool(""))
print(bool([]))
print(bool(()))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
2918347027856032875623489809328457023984570293845702398457023948570239845702394857023984570239485702394857023984570239845702398475023984570239485703294857039485702394857

2918347027856032875623489809328457023984570293845702398457023948570239845702394857023984570239485702394857023984570239845702398475023984570239485703294857039485702394857

# Variable

Sejauh ini kita sudah mencoba membuat dan mengkonversi data yang simpel. Tapi saat kita mau pakai lagi datanya, sudah tidak ada.

Dengan memberi sebuah nama, kita bisa simpan datanya, dan nanti dipanggil lagi pakai nama tersebut. Penyimpanan data ke dalam sebuah nama, dinamakan, pembuatan sebuah variable.

Ada beberapa peraturan dalam memberi nama variable:
- dimulai dengan alfabet, bukan numerik bukan simbol
- tanpa spasi, spasi kita ganti jadi simbol _
- semua huruf kecil, karena nama variable besar kecil dianggap berbeda oleh python tapi bagi kita manusia susah mengingat besar kecil ini

In [ ]:
nilai_andi = 80

In [ ]:
nilai_andi

80

In [ ]:
Nilai_andi = 79
nilai_Andi = 78
NILAI_ANDI = 77
Nilai_Andi = 76
nilai_ANDI = 75
NILAI_Andi = 74
print(nilai_andi, Nilai_andi, nilai_Andi, NILAI_ANDI, Nilai_Andi, nilai_ANDI, NILAI_Andi)

80 79 78 77 76 75 74

In [ ]:
# variable bisa kita ganti isinya
nilai_andi = "delapan puluh tujuh"

In [ ]:
print(nilai_andi)

delapan puluh tujuh

# Structured Data Types

kita sudah bahas Primitive Data Types - tipe data yang berdiri sendiri, satu angka, satu text (kumpulan karakter), satu nilai True atau False.

Untuk structured data types, satu data isinya bisa banyak.
- list []
- dictionary {}
- tuple ()
- set {}

<> biasanya cuma dipakai saat bikin website

## list
seperti antrian, setiap data di dalam sebuah list memiliki nomor antri yang dimulai dari 0
```python
[0,1,2,3,4,5]
```

In [ ]:
antrian = [0,1,2,3,4,5]

diatas, antrian adalah sebuah list berisi 6 integer berbeda

In [ ]:
antrian = ["andi", "budi", "cindy", "erika", "farah"]

isi sebuah list bisa tipe data apapun. termasuk int float str bool list dict tuple set

karena isi sebuah list bisa banyak. kita perlu teknik untuk bisa melihat:
- isi sebuah list ada berapa banyak?
- nambah satu barang ke dalam list yang ada
- hapus satu barang dari sebuah list
- apakah ada barang tertentu dalam sebuah list
- akses barang ke-sekian di sebuah list - pertama, terakhir, ke-3

CRUD - Create Read Update Delete

In [ ]:
len(antrian)

5

In [ ]:
antrian.append("george")

In [ ]:
print(antrian)

['andi', 'budi', 'cindy', 'erika', 'farah', 'george']

In [ ]:
antrian.remove("cindy")

In [ ]:
print(antrian)

['andi', 'budi', 'erika', 'farah', 'george']

In [ ]:
"budi" in antrian

True

In [ ]:
print(antrian[0]) # barang pertama
print(antrian[-1])# barang terakhir
print(antrian[2]) # barang ketiga

andi
george
erika

In [ ]:
antrian2 = ["jonathan", "kevin", "louis"]

In [ ]:
antrian + antrian2

['andi', 'budi', 'erika', 'farah', 'george', 'jonathan', 'kevin', 'louis']

In [ ]:
antrian2[0]

'jonathan'

In [ ]:
# = itu membuat
nilai = 10 # simpan data ke variable

# == itu nanya, apakah sama?
print(nilai == 10) #? balikin boolean
print(10 == 10)
print(nilai == nilai)

True
True
True

# Dictionary
tipe data terstruktur juga, mirip list, tidak pakai angka urut.

dictionary menggunakan string keyword untuk mengambil sebuah barang tertentu. artinya, saat dibuat sekalipun, kita juga perlu input setiap item sepasang sepasang. key: value, key: value,...

In [ ]:
{}

{}

In [ ]:
type({})

dict

In [ ]:
# harga sepatu
harga_sepatu = {"loafer_hitam": 45000,
                "heel_merah": 49000,
                "sandal_hijau": 12000}

print(harga_sepatu)

{'loafer_hitam': 45000, 'heel_merah': 49000, 'sandal_hijau': 12000}

In [ ]:
# seorang murid
murid_andi = {
    "nama": "Andhika Anggara",
    "umur": 45,
    "student_id": "H8MAR2024AB123",
    "berkacamata": True,
    "hobi": ["gaming", "coding", "traveling"]
}

print(murid_andi)

{'nama': 'Andhika Anggara', 'umur': 45, 'student_id': 'H8MAR2024AB123', 'berkacamata': True, 'hobi': ['gaming', 'coding', 'traveling']}

# Recap
- Python environment: instalasi tools untuk coding Python.
  - Anaconda,
  - Anaconda + Visual Studio Code + extension Jupyter Notebook + extension Python
  - Google Colab

- Primitive Data Types
  - int
  - float
  - str
  - bool

- Variable

- Structured Data Types
  - list
  - dict

## Next
- Operators
  - comparator
  - arithmatic

- Structured Data Types
  - Tuple

In [ ]:
# operator comparator, simbol yang kita gunakan untuk membandingkan dua data
a = "halo"
b = "hello"

# apakah a sama dengan b?
print(a == b) # akan dapat sebuah Boolean

False

semua operator comparator hasilnya adalah sebuah boolean.

In [ ]:
a = 23
b = 23

print(a > b) # kalau sama, termasuk False
print(a < b)
print("========")
print(a == b)
print(a != b) # False, artinya tidak, a tidak tidak sama dengan b
print("========")
print(a >= b) # kalau sama, termasuk True
print(a <= b)

False
False
========
True
False
========
True
True

In [ ]:
# operator aritmatik, simbol yang kita gunakan umumnya untuk manipulasi angka + - * /
a = 17
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)

22
12
85
3.4

In [ ]:
print(a % b)

2

In [ ]:
print(b**3)

125

In [ ]:
# proses aritmatik bisa banyak angkanya tidak harus dua seperti komparator
a + b - 10 * 3 / a * b % 10

13.176470588235293

In [ ]:
# selain angka, string dan list juga bisa ditambah dan dikali
a = "halo"

print(a * 3 + " bandung")

halohalohalo bandung

In [ ]:
a = ["apel", "jeruk"]

print(a + ["melon"])

['apel', 'jeruk', 'melon']

In [ ]:
print(a * 2 + a + a + ["melon", "pisang"])

['apel', 'jeruk', 'apel', 'jeruk', 'apel', 'jeruk', 'apel', 'jeruk', 'melon', 'pisang']

## Tuple
mirip list, hanya dia lebih kaku. isinya tidak bisa di ubah.

In [ ]:
murid_kelas = ["Andi", "Budi", "Cynthia"]
nilai_kelas = [90, 80, 92]

# kalau pakai list, kita bisa ubah dengan mudah
murid_kelas[0] = "John"
print(murid_kelas)

['John', 'Budi', 'Cynthia']

In [ ]:
murid_kelas = ("Andi", "Budi", "Cynthia")
nilai_kelas = (90, 80, 92)

# kalau pakai tuple, kita tidak bisa ubah dengan mudah
murid_kelas[0] = "John"
print(murid_kelas)

TypeError: 'tuple' object does not support item assignment

kalau pakai tuple dan kita mau ganti, atau nambah isinya, kita perlu convert dulu ke list, edit, baru convert balik ke tuple

In [ ]:
murid_kelas = list(murid_kelas)
murid_kelas[0] = "John"
murid_kelas = tuple(murid_kelas)

print(murid_kelas)

('John', 'Budi', 'Cynthia')

yang diubah sebenarnya tetap list nya. tuple nya tidak bisa di ubah, hanya kita konversi ke list.