# Conditional - if statement

Menanyakan apakah sebuah statement benar/ tidak.
Biasanya ada beberapa jenis pertanyaan saja:
- sama/ tidak
- beda/ tidak
- lebih besar/ tidak
- lebih kecil/ tidak
- \>=
- <=

semua pertanyaan ini kita susun menggunakan operator logika

semua pertnyaan ini dijawab sebagai Boolean value True atau False

kita memulai pertanyaan dengan "if"

```python
if "<statement>":
  #kalau statement nya True, maka kita jalankan code di sini

#kalau tidak, code yang di dalam tadi tidak jalan
```

In [ ]:
# misalkan kita punya data login seseorang
username = "Andi123"
password = "Qwerty123"

# kemudian kita mau cek apakah password nya sesuai
# password yang benar adalah Qwerty321
password_benar = "Qwerty321"

# kalau password benar, kita kasih login
if password == password_benar:
  print("sukses login")
  print("masih level 1")
else:
  # kalau salah, kita melakukan hal lain
  print("gagal login")

print("di luar if, true atau false tetep jalan")

gagal login
di luar if, true atau false tetep jalan

In [ ]:
password == password_benar

False

## Nested if
sebuah if statement memberikan kita kontrol untuk membuat code memilih jalur jalannya. masuk ke dalam blok code if atau tidak. tergantung jawaban dari statement nya True atau False.

bagaimana kalau pertanyaan kita lebih kompleks?

misalkan, selain password benar, perlu cek juga apakah username level berbayar/ tidak.

pertanyaan pertama kita adalah: password True / False, cocok boleh login atau tidak

pertnyaan kedua, hanya ditanyakan kalau password True, boleh login: apakah user tipe berbayar atau tidak. kalau tidak masuk ke halaman pembayaran. kalau iya dia masuk ke homepage.

jadi kita akan membuat if di dalam if, "nested if"

In [ ]:
username = "Andi123"
password = "ABC123"

password_benar = "ABC123"

list_paid_user = [ "Budi333", "Cindy878"]

if (password == password_benar):
  print("sukses login")
  if (username in list_paid_user):
    print("welcome back user - masuk ke homepage")
  else:
    print("welcome! pay now: xxx IDR to account zzz")
else:
  print("gagal login")

sukses login
welcome! pay now: xxx IDR to account zzz

## if elif else
if nanya, kalau False, bisa masuk ke elif

elif nanya, kalau False, bisa masuk ke elif lagi

.
.
.

terakhir adalah else, jika semua pertnyaan dari if dan elif adalah False baru masuk ke else

In [ ]:
# set Grade ke nilai ujian
# A - 90-100
# B - 80-89
# C - 60-79
# D - 49-59
# F - dibawah 49 dinyatakan tidak lulus

nilai = 50
grade = ""
if (nilai >= 90):
  grade = "A"
elif (nilai >= 80):
  grade = "B"
elif (nilai >= 60):
  grade = "C"
elif (nilai >= 49):
  grade = "D"
else:
  grade = "F"

print(nilai, grade)

50 D

In [ ]:
# misalkan kita mau membuat sebuah program untuk cek apakah seseorang cukup umur untuk nonton film

umur = 15
minimum_age = 16

print("umur pelanggan adalah " + str(umur))
print(f"rating filmnya adalah untuk umur {minimum_age}+")

if umur >= minimum_age:
  print("boleh nonton")
else:
  print("belum boleh nonton")

umur pelanggan adalah 15
rating filmnya adalah untuk umur 16+
belum boleh nonton

f yang ditulis sebelum tanda kutip adalah tanda agar python tau kalau kita mau nyampur nulis variable dengan string

kita bisa tulis string + variable dengan menggunakan format
```
f"text biasa {variable dalam sini} bisa ditulis di sekeliling variable nya"
```

# latihan pendek: conditional

In [ ]:
# diberikan sebuah list berisi nama nama murid
list_nama = ["abigail", "kartono", "lucia", "jimmy"]

# coba cek apakah nama berikut ada di dalam list tersebut
peserta = "lucy"

# jika ada, cetaklah message "selamat datang"
# jika tidak ada, masukkan peserta baru ke dalam list nama, lalu cetak "welcome!"
if peserta in list_nama:
  print("selamat datang")
else:
  list_nama.append(peserta)
  print("welcome!")

print(peserta)
print(list_nama)

welcome!
lucy
['abigail', 'kartono', 'lucia', 'jimmy', 'lucy']

# Loop (Iteration)
perulangan

- melakukan hal yang sama berulang kali
- melakukan loop
- membuat iterasi

Ada dua jenis loop yang mau kita pelajari hari ini:
1. While
2. For

## While
while loop mirip sekali dengan if

while loop dimulai dengan keyword while kemudian sebuah <statement> yang mengembalikan True atau False.

while loop seperti if, tapi setelah selesai menjalankan blok kode yang ada di dalam while loop, bukannya keluar, dia malah balik lagi ke <statement> yang ditanyakan. balik lagi ke atas. kalau masih True, di masuk lagi ke blok kode nya. terus berulang sampai <statement> sudah jadi False.

berhati hatilah dalam membuat while loop. Pastikan pertanyaan yang dibuat di awal, akan berubah menjadi False, saat loop nya berjalan. kalau tidak, loop menjadi "infinite loop" berjalan selamanya.

```python
umur = 30
while umur >= 17:
  print("ok")
```

diatas adalah contoh infinite loop

cara yang benar adalah adanya perubahan di dalam loop tersebut sampai bisa membuat statement berubah jadi False

```python
umur = 30
while umur >= 17:
  umur = umur - 1
  print(umur)
```

contoh diatas, setiap kali statement True, kita akan mengubah variable umur isinya berkurang 1, lama kelamaan umur akan lebih kecil dari 17, statement menjadi False, dan loop berhenti

In [ ]:
# contoh while loop
# misalkan kita mau mencari angka genap yang bukan berakhir dengan 4 yang ada di antara 9000 dan 10000
# kita mau simpan angka2 "valid" ini kedalam sebuah list

valids = []
n = 9000
while n < 10000:
  n = n + 1
  if (n % 2 == 0):
    # genap
    if (n % 10 != 4):
      # angka terakhir bukan 4
      # masuk ke list angka valid
      valids.append(n)

print(valids)

[9002, 9006, 9008, 9010, 9012, 9016, 9018, 9020, 9022, 9026, 9028, 9030, 9032, 9036, 9038, 9040, 9042, 9046, 9048, 9050, 9052, 9056, 9058, 9060, 9062, 9066, 9068, 9070, 9072, 9076, 9078, 9080, 9082, 9086, 9088, 9090, 9092, 9096, 9098, 9100, 9102, 9106, 9108, 9110, 9112, 9116, 9118, 9120, 9122, 9126, 9128, 9130, 9132, 9136, 9138, 9140, 9142, 9146, 9148, 9150, 9152, 9156, 9158, 9160, 9162, 9166, 9168, 9170, 9172, 9176, 9178, 9180, 9182, 9186, 9188, 9190, 9192, 9196, 9198, 9200, 9202, 9206, 9208, 9210, 9212, 9216, 9218, 9220, 9222, 9226, 9228, 9230, 9232, 9236, 9238, 9240, 9242, 9246, 9248, 9250, 9252, 9256, 9258, 9260, 9262, 9266, 9268, 9270, 9272, 9276, 9278, 9280, 9282, 9286, 9288, 9290, 9292, 9296, 9298, 9300, 9302, 9306, 9308, 9310, 9312, 9316, 9318, 9320, 9322, 9326, 9328, 9330, 9332, 9336, 9338, 9340, 9342, 9346, 9348, 9350, 9352, 9356, 9358, 9360, 9362, 9366, 9368, 9370, 9372, 9376, 9378, 9380, 9382, 9386, 9388, 9390, 9392, 9396, 9398, 9400, 9402, 9406, 9408, 9410, 9412, 9416, 9418, 9420, 9422, 9426, 9428, 9430, 9432, 9436, 9438, 9440, 9442, 9446, 9448, 9450, 9452, 9456, 9458, 9460, 9462, 9466, 9468, 9470, 9472, 9476, 9478, 9480, 9482, 9486, 9488, 9490, 9492, 9496, 9498, 9500, 9502, 9506, 9508, 9510, 9512, 9516, 9518, 9520, 9522, 9526, 9528, 9530, 9532, 9536, 9538, 9540, 9542, 9546, 9548, 9550, 9552, 9556, 9558, 9560, 9562, 9566, 9568, 9570, 9572, 9576, 9578, 9580, 9582, 9586, 9588, 9590, 9592, 9596, 9598, 9600, 9602, 9606, 9608, 9610, 9612, 9616, 9618, 9620, 9622, 9626, 9628, 9630, 9632, 9636, 9638, 9640, 9642, 9646, 9648, 9650, 9652, 9656, 9658, 9660, 9662, 9666, 9668, 9670, 9672, 9676, 9678, 9680, 9682, 9686, 9688, 9690, 9692, 9696, 9698, 9700, 9702, 9706, 9708, 9710, 9712, 9716, 9718, 9720, 9722, 9726, 9728, 9730, 9732, 9736, 9738, 9740, 9742, 9746, 9748, 9750, 9752, 9756, 9758, 9760, 9762, 9766, 9768, 9770, 9772, 9776, 9778, 9780, 9782, 9786, 9788, 9790, 9792, 9796, 9798, 9800, 9802, 9806, 9808, 9810, 9812, 9816, 9818, 9820, 9822, 9826, 9828, 9830, 9832, 9836, 9838, 9840, 9842, 9846, 9848, 9850, 9852, 9856, 9858, 9860, 9862, 9866, 9868, 9870, 9872, 9876, 9878, 9880, 9882, 9886, 9888, 9890, 9892, 9896, 9898, 9900, 9902, 9906, 9908, 9910, 9912, 9916, 9918, 9920, 9922, 9926, 9928, 9930, 9932, 9936, 9938, 9940, 9942, 9946, 9948, 9950, 9952, 9956, 9958, 9960, 9962, 9966, 9968, 9970, 9972, 9976, 9978, 9980, 9982, 9986, 9988, 9990, 9992, 9996, 9998, 10000]

Ada kalanya kita memiliki pertanyaan yang lebih dari satu, padahal mau di cek berbarengan, gk perlu dipisah.

Contohnya di atas, kita tidak perlu cek genap/nggak lalu baru cek angka terakhir bukan 4. kita bisa cek sekaligus. kita bisa pakai operator &

## AND dan OR

AND memaksakan dua statement harus True dua duanya baru dianggap True

OR bilang jika salah satu dari dua statement True, maka dianggap True

In [ ]:
# genap dan angka terakhir bukan 4
n = 10
if (n % 2 ==0) & (n % 10 != 4): # AND statement, mengecek dua pertanyaan sekaligus dan dua2 harus True
  print("dua dua True")
else:
  print("salah satu ada yang False")

dua dua True

In [ ]:
# ganjil atau berakhir dengan 4, boleh
n = 14
if (n % 2 == 1) | (n % 10 == 4):
  print(n, "salah satu, ganjil, atau berakhir dengan 4")
else:
  print("dua dua statement False")

14 salah satu, ganjil, atau berakhir dengan 4

In [ ]:
# coba modifikasi while loop diatas menggunakan AND dan/atau OR sehingga code lebih mudah dibaca
valids = []
n = 9000
while n < 10000:
  n = n + 1
  if (n % 2 == 0) & (n % 10 != 4):
      valids.append(n)

print(valids)

[9002, 9006, 9008, 9010, 9012, 9016, 9018, 9020, 9022, 9026, 9028, 9030, 9032, 9036, 9038, 9040, 9042, 9046, 9048, 9050, 9052, 9056, 9058, 9060, 9062, 9066, 9068, 9070, 9072, 9076, 9078, 9080, 9082, 9086, 9088, 9090, 9092, 9096, 9098, 9100, 9102, 9106, 9108, 9110, 9112, 9116, 9118, 9120, 9122, 9126, 9128, 9130, 9132, 9136, 9138, 9140, 9142, 9146, 9148, 9150, 9152, 9156, 9158, 9160, 9162, 9166, 9168, 9170, 9172, 9176, 9178, 9180, 9182, 9186, 9188, 9190, 9192, 9196, 9198, 9200, 9202, 9206, 9208, 9210, 9212, 9216, 9218, 9220, 9222, 9226, 9228, 9230, 9232, 9236, 9238, 9240, 9242, 9246, 9248, 9250, 9252, 9256, 9258, 9260, 9262, 9266, 9268, 9270, 9272, 9276, 9278, 9280, 9282, 9286, 9288, 9290, 9292, 9296, 9298, 9300, 9302, 9306, 9308, 9310, 9312, 9316, 9318, 9320, 9322, 9326, 9328, 9330, 9332, 9336, 9338, 9340, 9342, 9346, 9348, 9350, 9352, 9356, 9358, 9360, 9362, 9366, 9368, 9370, 9372, 9376, 9378, 9380, 9382, 9386, 9388, 9390, 9392, 9396, 9398, 9400, 9402, 9406, 9408, 9410, 9412, 9416, 9418, 9420, 9422, 9426, 9428, 9430, 9432, 9436, 9438, 9440, 9442, 9446, 9448, 9450, 9452, 9456, 9458, 9460, 9462, 9466, 9468, 9470, 9472, 9476, 9478, 9480, 9482, 9486, 9488, 9490, 9492, 9496, 9498, 9500, 9502, 9506, 9508, 9510, 9512, 9516, 9518, 9520, 9522, 9526, 9528, 9530, 9532, 9536, 9538, 9540, 9542, 9546, 9548, 9550, 9552, 9556, 9558, 9560, 9562, 9566, 9568, 9570, 9572, 9576, 9578, 9580, 9582, 9586, 9588, 9590, 9592, 9596, 9598, 9600, 9602, 9606, 9608, 9610, 9612, 9616, 9618, 9620, 9622, 9626, 9628, 9630, 9632, 9636, 9638, 9640, 9642, 9646, 9648, 9650, 9652, 9656, 9658, 9660, 9662, 9666, 9668, 9670, 9672, 9676, 9678, 9680, 9682, 9686, 9688, 9690, 9692, 9696, 9698, 9700, 9702, 9706, 9708, 9710, 9712, 9716, 9718, 9720, 9722, 9726, 9728, 9730, 9732, 9736, 9738, 9740, 9742, 9746, 9748, 9750, 9752, 9756, 9758, 9760, 9762, 9766, 9768, 9770, 9772, 9776, 9778, 9780, 9782, 9786, 9788, 9790, 9792, 9796, 9798, 9800, 9802, 9806, 9808, 9810, 9812, 9816, 9818, 9820, 9822, 9826, 9828, 9830, 9832, 9836, 9838, 9840, 9842, 9846, 9848, 9850, 9852, 9856, 9858, 9860, 9862, 9866, 9868, 9870, 9872, 9876, 9878, 9880, 9882, 9886, 9888, 9890, 9892, 9896, 9898, 9900, 9902, 9906, 9908, 9910, 9912, 9916, 9918, 9920, 9922, 9926, 9928, 9930, 9932, 9936, 9938, 9940, 9942, 9946, 9948, 9950, 9952, 9956, 9958, 9960, 9962, 9966, 9968, 9970, 9972, 9976, 9978, 9980, 9982, 9986, 9988, 9990, 9992, 9996, 9998, 10000]

statement yang kita gunakan di while loop bisa digunakan di if juga.

if hanya jalan 1x

while jalan berulang kali sampai statement mengembalikan False. while bisa jalan selamanya (error tipe infinite loop)

In [ ]:
# break
# menghentikan loop dengan paksa

valids = []
n = 9000
while n < 10000:
  n = n + 1

  if (n == 9008):
    break

  if (n % 2 == 0) & (n % 10 != 4):
      valids.append(n)

print(valids)

[9002, 9006]

In [ ]:
# continue
# melewati loop 1x, kyk skip.

valids = []
n = 9000
while n < 10000:
  n = n + 1

  if (n == 9008):
    continue

  if (n % 2 == 0) & (n % 10 != 4):
      valids.append(n)

print(valids)

[9002, 9006, 9010, 9012, 9016, 9018, 9020, 9022, 9026, 9028, 9030, 9032, 9036, 9038, 9040, 9042, 9046, 9048, 9050, 9052, 9056, 9058, 9060, 9062, 9066, 9068, 9070, 9072, 9076, 9078, 9080, 9082, 9086, 9088, 9090, 9092, 9096, 9098, 9100, 9102, 9106, 9108, 9110, 9112, 9116, 9118, 9120, 9122, 9126, 9128, 9130, 9132, 9136, 9138, 9140, 9142, 9146, 9148, 9150, 9152, 9156, 9158, 9160, 9162, 9166, 9168, 9170, 9172, 9176, 9178, 9180, 9182, 9186, 9188, 9190, 9192, 9196, 9198, 9200, 9202, 9206, 9208, 9210, 9212, 9216, 9218, 9220, 9222, 9226, 9228, 9230, 9232, 9236, 9238, 9240, 9242, 9246, 9248, 9250, 9252, 9256, 9258, 9260, 9262, 9266, 9268, 9270, 9272, 9276, 9278, 9280, 9282, 9286, 9288, 9290, 9292, 9296, 9298, 9300, 9302, 9306, 9308, 9310, 9312, 9316, 9318, 9320, 9322, 9326, 9328, 9330, 9332, 9336, 9338, 9340, 9342, 9346, 9348, 9350, 9352, 9356, 9358, 9360, 9362, 9366, 9368, 9370, 9372, 9376, 9378, 9380, 9382, 9386, 9388, 9390, 9392, 9396, 9398, 9400, 9402, 9406, 9408, 9410, 9412, 9416, 9418, 9420, 9422, 9426, 9428, 9430, 9432, 9436, 9438, 9440, 9442, 9446, 9448, 9450, 9452, 9456, 9458, 9460, 9462, 9466, 9468, 9470, 9472, 9476, 9478, 9480, 9482, 9486, 9488, 9490, 9492, 9496, 9498, 9500, 9502, 9506, 9508, 9510, 9512, 9516, 9518, 9520, 9522, 9526, 9528, 9530, 9532, 9536, 9538, 9540, 9542, 9546, 9548, 9550, 9552, 9556, 9558, 9560, 9562, 9566, 9568, 9570, 9572, 9576, 9578, 9580, 9582, 9586, 9588, 9590, 9592, 9596, 9598, 9600, 9602, 9606, 9608, 9610, 9612, 9616, 9618, 9620, 9622, 9626, 9628, 9630, 9632, 9636, 9638, 9640, 9642, 9646, 9648, 9650, 9652, 9656, 9658, 9660, 9662, 9666, 9668, 9670, 9672, 9676, 9678, 9680, 9682, 9686, 9688, 9690, 9692, 9696, 9698, 9700, 9702, 9706, 9708, 9710, 9712, 9716, 9718, 9720, 9722, 9726, 9728, 9730, 9732, 9736, 9738, 9740, 9742, 9746, 9748, 9750, 9752, 9756, 9758, 9760, 9762, 9766, 9768, 9770, 9772, 9776, 9778, 9780, 9782, 9786, 9788, 9790, 9792, 9796, 9798, 9800, 9802, 9806, 9808, 9810, 9812, 9816, 9818, 9820, 9822, 9826, 9828, 9830, 9832, 9836, 9838, 9840, 9842, 9846, 9848, 9850, 9852, 9856, 9858, 9860, 9862, 9866, 9868, 9870, 9872, 9876, 9878, 9880, 9882, 9886, 9888, 9890, 9892, 9896, 9898, 9900, 9902, 9906, 9908, 9910, 9912, 9916, 9918, 9920, 9922, 9926, 9928, 9930, 9932, 9936, 9938, 9940, 9942, 9946, 9948, 9950, 9952, 9956, 9958, 9960, 9962, 9966, 9968, 9970, 9972, 9976, 9978, 9980, 9982, 9986, 9988, 9990, 9992, 9996, 9998, 10000]

## latihan pendek: while loop dan if

diberikan sebuah list berisi nilai nilai murid

coba cek masing masing nilai dapat grade berapa, simpan grade grade ke list_grade

In [ ]:
list_nilai = [90, 78, 45, 89, 65, 23, 34, 67, 56, 78, 98]
# A: 90-100
# B: 60-89
# C: 40-59
# F: dibawah 40

list_grade = []

# gunakan while loop, if, elif else
# isi list_grade tergantung dari list_nilai

index = 0
while index < len(list_nilai):
  n = list_nilai[index]

  grade = ""
  if (n >= 90) & (n <= 100):
    grade = "A"
  elif (n >= 60) & (n <= 89):
    grade = "B"
  elif (n >= 40) & (n <= 59):
    grade = "C"
  elif (n < 40):
    grade = "F"
  else:
    grade = "I" # tandai sebagai invalid grade

  # print(n, grade)
  list_grade.append(grade)

  index = index + 1


print(list_grade)

['A', 'B', 'C', 'B', 'B', 'F', 'F', 'B', 'C', 'B', 'A']

# For loop
Digunakan untuk mengecek setiap barang dalam sebuah koleksi

koleksi termasuk:
- list
- tuple
- string
- dictionary keys
- dictionary values
- dictionary items
...

saat kita mau cek, satu per satu, setiap barang dalam sebuah koleksi. kita bisa gunakan for loop.

In [ ]:
list_nilai = [90, 78, 45, 89, 65, 23, 34, 67, 56, 78, 98]
# A: 90-100
# B: 60-89
# C: 40-59
# F: dibawah 40

list_grade = []

# gunakan while loop, if, elif else
# isi list_grade tergantung dari list_nilai

for n in list_nilai:
  grade = ""
  if (n >= 90) & (n <= 100):
    grade = "A"
  elif (n >= 60) & (n <= 89):
    grade = "B"
  elif (n >= 40) & (n <= 59):
    grade = "C"
  elif (n < 40):
    grade = "F"
  else:
    grade = "I" # tandai sebagai invalid grade

  # print(n, grade)
  list_grade.append(grade)


print(list_grade)

['A', 'B', 'C', 'B', 'B', 'F', 'F', 'B', 'C', 'B', 'A']

- list []
- tuple ()
- string ""

sebuah dictionary yang berisi barang sepasang sepasang key:value, bisa kita ubah menjadi list keys nya aja, valuesnya aja, atau list isi sepasang sepasang itu.
- dictionary keys
- dictionary values
- dictionary items

In [ ]:
belanjaan = {
    "apel": 5000,
    "pisang":17000,
    "nanas": 35000,
    "melon": 25000
}

print(belanjaan)

{'apel': 5000, 'pisang': 17000, 'nanas': 35000, 'melon': 25000}

In [ ]:
# keys nya saja
belanjaan.keys()

dict_keys(['apel', 'pisang', 'nanas', 'melon'])

In [ ]:
# values nya saja
belanjaan.values()

dict_values([5000, 17000, 35000, 25000])

In [ ]:
# items
belanjaan.items()

dict_items([('apel', 5000), ('pisang', 17000), ('nanas', 35000), ('melon', 25000)])

In [ ]:
for nama_buah in belanjaan.keys():
  print(nama_buah)

apel
pisang
nanas
melon

In [ ]:
for harga_buah in belanjaan.values():
  print(harga_buah)

5000
17000
35000
25000

In [ ]:
total = 0
for harga_buah in belanjaan.values():
  total = total + harga_buah
  # print(harga_buah, total)

print(total)

82000

In [ ]:
# bikin text beli apa aja
jurnal = "Pergi belanja."
total = 0
for pasangan in belanjaan.items():
  jurnal = jurnal + " Beli " + pasangan[0] + " seharga " + str(pasangan[1]) + "."
  total = total + pasangan[1]

jurnal = jurnal + " Total belanja menjadi " + str(total) + "."
print(jurnal)

Pergi belanja. Beli apel seharga 5000. Beli pisang seharga 17000. Beli nanas seharga 35000. Beli melon seharga 25000. Total belanja menjadi 82000.

In [ ]:
# list, di for loop
# hitung ada berapa angka genap di koleksi list berisi angka angka

print(list_nilai)
count_genap = 0
for n in list_nilai:
  if (n % 2 == 0):
    count_genap = count_genap + 1

print(count_genap, "jumlah angka genap")

[90, 78, 45, 89, 65, 23, 34, 67, 56, 78, 98]
6 jumlah angka genap

In [ ]:
# string, di for loop
# hitung ada berapa huruf "a" di dalam sebuah text (misalnya text jurnal yang tadi kita buat)

print(jurnal)
count = 0
for character in jurnal:
  if (character == "a"):
    count = count + 1

print(count, "jumlah huruf a di dalam jurnal")

Pergi belanja. Beli apel seharga 5000. Beli pisang seharga 17000. Beli nanas seharga 35000. Beli melon seharga 25000. Total belanja menjadi 82000.
18 jumlah huruf a di dalam jurnal

# Membuat angka urut di Python
dengan tujuan untuk membantu pemakaian for loop

bisa juga untuk dipakai sebagai angka urut

In [ ]:
# cara pertama - membuat 10 angka dari 0, increment 1
# 0,1,2,3,..., 9
range(10)

range(0, 10)

In [ ]:
for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# tidak harus 10, mau buat 100, 1rb, 1jt, boleh berapapun
text = ""
for n in range(1003):
  text = text + " " + str(n)
print(text)

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999 1000 1001 1002

In [ ]:
# cara kedua
# range, kita kasih mulai dari angka berapa
text = ""
for n in range(5, 20):
  text = text + " " + str(n)
print(text)

 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

mulai dari angka yang kita pilih

increment 1

berhenti sebelum angka yang kita pilih. di contoh atas, 5, 20, berarti 5 sampai 19 angkanya..

In [ ]:
# cara ketiga
# range, kita kasih mulai dari mana, berhenti kapan, dan increment nya berapa
text = ""
for n in range(-500, 2000, 250):
  text = text + " " + str(n)
print(text)

 -500 -250 0 250 500 750 1000 1250 1500 1750

In [ ]:
text = ""
for n in range(500, -500, -38):
  text = text + " " + str(n)
print(text)

 500 462 424 386 348 310 272 234 196 158 120 82 44 6 -32 -70 -108 -146 -184 -222 -260 -298 -336 -374 -412 -450 -488

## For fun
keyword input bisa kita gunakan untuk meminta input data dari user saat code sedang berjalan

misalkan, kita bisa membuat program untuk membalikkan text yang diberikan user, sampai user bilang "stop"

In [ ]:
# input
keyword = input("Isi text yang mau dibalik:")
print(keyword)

Isi text yang mau dibalik:halo
halo

In [ ]:
keyword = ""
while keyword != "stop":
  keyword = input("Isi text yang mau dibalik:")
  keyword_terbalik = ""
  for char in keyword:
    keyword_terbalik = char + keyword_terbalik
  print(keyword_terbalik)

Isi text yang mau dibalik:123
321
Isi text yang mau dibalik:9
9
Isi text yang mau dibalik:stop
pots